@tailwind base;
@tailwind components;
@tailwind utilities;

.quiz-container {
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
}

td,
th {
  border: 2px solid;
  text-align: left;
  padding: 10px;
  --tw-bd-opacity: 1;
  border-color: rgb(34 197 94 / var(--tw-bd-opacity));
};
